/*====================Breakpoint1============================*/
@media only screen and (max-width: 1050px){
/*=====================Pictures==============================*/
.pictures{
height: 300px;
width: 620px;
grid-template-columns: 300px 1fr 1fr;
}
.smiles{
width: 300px;
height: auto;
grid-column: 1/2;
grid-row: 1/3;
}
.use{
width: 300px;
height: auto;
grid-column: 2/4;
grid-row: 1/2;
}
.business{
width: 140px;
height: auto;
grid-column: 2/3;
grid-row:
}
.cup{
width: 140px;
height: auto;
grid-column: 3/4;
grid-row: 2/3;
}
/*===============================Sections===============*/
.grid-section{
grid-template-columns: 250px 250px;
grid-template-rows: 300px 300px;
width: 575px;
height: 600px;
grid-column-gap: 50px;
}
/*====1====*/
.customer-engagement{
	padding: 4%;
	width: 250px;
	height: 250px;
	grid-area: 1/1/2/2;
}
/*====2====*/
.e-commerce{
	padding: 4%;
	width: 250px;
	height: 250px;
	grid-area: 1/2/2/3;
}
/*====3====*/
.appointments{
	padding: 4%;
	width: 250px;
	height: 250px;
	grid-area: 2/1/3/2;
}
/*====4====*/
.marketplace{
	padding: 4%;
	width: 250px;
	height: 250px;
	grid-area: 2/2/3/3;
}
/*=================Footer=============================*/
.software-products, .hardware-products, .business-solutions, .about-square{
margin-left: -180px;
width: 180px;
}
}